
.DS_Store
.config/nvim/lazy-lock.json
.config/nvim/lazy-lock.json
.DS_Store

dconf/
gh/
gtk-3.0/
ibus/
mozilla/
nautilus/
pulse/
qalculate/
qt6ct/
session/
systemd/

baloofileinformationrc
dolphinrc
mimeapps.list
pavucontrol.ini
trashrc
user-dirs.dirs
user-dirs.locale
.config/gh/
.config/go/

.config/Code/*
!.config/Code/User/

.config/Code/User/*
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

!.config/Code/User/snippets/
.config/Code/User/snippets/*
!.config/Code/User/snippets/**